@media(max-width: 1300px) {

    .navbar-top-point-of-contact h1,
    .navbar-top-Unlock-the-Magic h1 {
        font-size: 13px;
    }

    .navbar-top-point-of-contact img,
    .navbar-top-Unlock-the-Magic img {
        width: 15px;
        height: 15px;
    }
}

@media(max-width: 1200px) {
    .search-section {
        transform: scale(0.8);
    }

    .navbar-top-point-of-contact {
        display: none;
    }

    .navbar .actions .btn {
        font-size: 13px;
    }

    .Our-Featured-Tours-head-r h1 {
        font-size: 35px;
    }

    .Our-Featured-Tours-head-r p {
        font-size: 18px;
    }
}

@media(max-width: 992px) {
    .navbar .actions .btn {
        display: none;
    }

    .actions .menu{
        display: flex;
    }

    .search-section {
        transform: scale(0.7);
    }

    .Our-Featured-Tours-head {
        flex-direction: column;
        align-items: start;
        gap: 40px;
    }
}

@media(max-width: 840px) {
    .navbar .main-nav {
        display: none;
    }

    .Our-Featured-Tours-head-l{
        flex-wrap: wrap;
        justify-content: start;
    }

    .search-section {
        transform: scale(0.9);
        width: 90%;;
    }

    .search-bar{
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
    }
    
}

@media(max-width: 650px) {
    .navbar-top-Unlock-the-Magic{
        display: none;
    }
    .max-width-all-first {
        justify-content: end;
    }

    .home h1{
        font-size: 30px;
    }

    .home p{
        font-size: 18px ;
    }
}

@media(max-width: 480px) {
    .tabs{
        flex-wrap: wrap;
        gap: 20px;
    }
}